<!DOCTYPE html>
<html>
  <head>
    <title>Welcome to my home page</title>
  </head>
 <body style="padding-left: 5%; width: 90%;">
  <h1>
    Welcome to Chengbin Feng's site. 
  </h1>
  <hr>
  <h2>Brief Introduction</h2>
  <p>My name is Chengbin Feng, I graduated from UNSW, Sydney with a bachelor degree in Computer Science(A.I.).</p>
  <h2>Research Work</h2>
  <p>Can company predict consumer's willingness to share behavior after looking at their social media behavior?</p>
  <h2>Technique Skills</h2>
    <ul>
      <li>oTree</li>
      <li>Unity</li>
      <li>Data Analysis</li>
      <li>Web Crawl</li>
      <li>Web Develop</li>
      <li>Computer Vision</li>
      <li>iOS and Android App Develop</li>
      <li>Machine Learning and Deep Learning Model</li>
    </ul>
    <h2>Education</h2>
    <ul>
      <li>Computer Science, UNSW Sydney</li>
    </ul>
    <h2>Contact Details</h2>
    <p>Email: chengbin.feng@unsw.edu.au</p>
    <p>Phone: 0492125650</p>
</body>
</html>

