aiofiles==0.6.0
appdirs==1.4.4
appnope==0.1.0
argon2-cffi==20.1.0
asgi-redis==0.14.1
asgiref==3.3.4
asn1crypto==0.24.0
async-generator==1.10
async-timeout==3.0.1
attrs==20.2.0
Automat==0.7.0
awscli==1.18.144
backcall==0.2.0
beautifulsoup4==4.9.3
bleach==3.2.1
boto3==1.12.49
botocore==1.18.3
bs4==0.0.1
certifi==2020.12.5
cffi==1.14.3
chardet==3.0.4
click==7.1.2
colorama==0.4.1
constantly==15.1.0
coverage==4.2
cryptography==2.8
cssselect==1.1.0
dateparser==1.0.0
decorator==4.4.2
defusedxml==0.6.0
demjson==2.2.4
dill==0.3.2
distlib==0.3.2
dj-database-url==0.5.0
Django==2.2.9
django-cors-headers==3.2.1
django-countries==4.0
django-datetime-widget==0.9.3
django-floppyforms==1.7.0
django-idmap==1.0.3
django-model-utils==3.2.0
django-on-heroku==1.1.2
django-vanilla-views==1.0.6
djangorestframework==3.4.6
djangorestframework-simplejwt==4.7.1
docutils==0.15.2
entrypoints==0.3
et-xmlfile==1.0.1
facebook-scraper==0.2.43
fake-useragent==0.1.11
filelock==3.0.12
get==2019.4.13
graphviz==0.8.4
h11==0.12.0
h2==4.0.0
honcho==1.0.1
hpack==4.0.0
huey==2.1.1
hyperframe==6.0.0
hyperlink==19.0.0
idna==2.10
importlib-metadata==2.1.1
incremental==17.5.0
instaloader==4.5.3
IPy==0.83
ipykernel==5.3.4
ipython==7.19.0
ipython-genutils==0.2.0
ipywidgets==7.6.3
itsdangerous==1.1.0
jdcal==1.4.1
jedi==0.17.2
Jinja2==2.11.2
jmespath==0.10.0
json5==0.9.5
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==6.1.7
jupyter-console==6.4.0
jupyter-core==4.6.3
jupyterlab==2.2.9
jupyterlab-pygments==0.1.2
jupyterlab-server==1.2.0
jupyterlab-widgets==1.0.0
lxml==4.6.3
MarkupSafe==1.1.1
mistune==0.8.4
multiprocess==0.70.10
nbclient==0.5.1
nbconvert==6.0.7
nbformat==5.0.8
nest-asyncio==1.4.2
nose==1.3.7
notebook==6.1.5
numpy==1.19.4
openpyxl==3.0.5
otree-boto2-shim==0.3.2
otree-core==0.0.0b1
otree-save-the-change==1.1.3
otree-tools==1.1.15
packaging==20.4
pandas==1.1.5
pandocfilters==1.4.3
parse==1.19.0
parso==0.7.1
pbr==1.10.0
pexpect==4.8.0
pickleshare==0.7.5
post==2019.4.13
priority==1.3.0
prometheus-client==0.8.0
prompt-toolkit==3.0.8
psycopg2-binary==2.8.6
ptyprocess==0.6.0
public==2019.4.13
py==1.4.31
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.19
pyee==8.1.0
Pygments==2.7.2
PyHamcrest==1.9.0
PyJWT==2.1.0
PyMySQL==1.0.2
pyodbc==4.0.31
pyOpenSSL==19.1.0
pyparsing==2.4.7
pyppeteer==0.2.5
pyquery==1.4.3
pyrsistent==0.17.3
pytest==2.9.2
pytest-django==3.0.0
python-dateutil==2.8.1
python-multipart==0.0.5
pytz==2021.1
PyYAML==5.3.1
pyzmq==19.0.2
qtconsole==5.0.3
QtPy==1.9.0
query-string==2019.4.13
ratelimit==2.2.1
raven==5.25.0
redis==3.3.8
regex==2021.4.4
request==2019.4.13
requests==2.25.1
requests-html==0.10.0
rsa==4.5
s3transfer==0.3.3
selenium==3.141.0
Send2Trash==1.5.0
sentry-sdk==0.7.9
service-identity==18.1.0
six==1.15.0
soupsieve==2.1
SQLAlchemy==1.3.22
sqlparse==0.3.0
starlette==0.14.1
termcolor==1.1.0
terminado==0.9.1
testpath==0.4.4
toml==0.10.2
tornado==6.0.4
tqdm==4.61.1
traitlets==5.0.5
twist==0.0.1
Twisted==20.3.0
typing-extensions==3.7.4.3
tzlocal==2.1
unicodecsv==0.14.1
urllib3==1.26.4
utils==1.0.1
uvicorn==0.13.3
virtualenv==20.4.7
w3lib==1.22.0
wcwidth==0.2.5
webencodings==0.5.1
websockets==8.1
whitenoise==4.1.3
widgetsnbextension==3.5.1
ws4py==0.3.5
wsproto==1.0.0
WTForms==2.3.3
WTForms-SQLAlchemy==0.2
XlsxWriter==0.9.3
zipp==3.4.0
zope.interface==5.1.0
